In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
# https://en.wikipedia.org/wiki/Dummy_variable_(statistics)

In [2]:
train_data = pd.read_csv('kaggle_train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train_data['sex_male_var'] = train_data.Sex.map({'female' : 0, 'male':1})
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sex_male_var
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

In [4]:
dummy_data = pd.get_dummies(train_data.Sex)

dummy_data.head()

   female  male
0     0.0   1.0
1     1.0   0.0
2     1.0   0.0
3     1.0   0.0
4     0.0   1.0

In [5]:
drop_dummy = pd.get_dummies(train_data.Sex).iloc[:, 1:]
drop_dummy.head()

   male
0   1.0
1   0.0
2   0.0
3   0.0
4   1.0

In [6]:
pd.get_dummies(train_data.Sex, prefix = 'Sex').iloc[:, 1:].head()

   Sex_male
0       1.0
1       0.0
2       0.0
3       0.0
4       1.0