In [3]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
#get_option and reset_option

In [4]:
pd.get_option('display.max_rows')

60

In [5]:
pd.set_option('display.max_rows', 120)

In [6]:
pd.get_option('display.max_rows')

120

In [7]:
pd.reset_option('display.max_rows')

In [8]:
pd.get_option('display.max_rows')

60

In [ ]:
# Frequently used options in pandas

In [ ]:
# max_rows

In [9]:
dframe = pd.DataFrame(np.random.randn(10,2))

In [10]:
dframe

          0         1
0 -0.354981  0.547634
1  1.066492 -0.184402
2  0.182972 -1.754146
3  1.073393  0.301859
4 -0.569386  0.686943
5  0.332243  0.350023
6 -0.134567  0.638994
7 -0.300023 -0.127278
8 -0.957225 -1.793876
9 -0.490547 -0.019640

In [11]:
pd.set_option('max_rows', 6)

In [12]:
dframe

           0         1
0  -0.354981  0.547634
1   1.066492 -0.184402
2   0.182972 -1.754146
..       ...       ...
7  -0.300023 -0.127278
8  -0.957225 -1.793876
9  -0.490547 -0.019640

[10 rows x 2 columns]

In [13]:
pd.reset_option('max_rows')

In [ ]:
# expand_frame_repr

In [20]:
dframe = pd.DataFrame(np.random.randn(12,12))

In [21]:
dframe

          0         1         2         3         4         5         6         7         8         9         10        11
0   0.426023 -1.214637  0.096357 -0.767768  0.814698 -0.664924  0.286941  0.832047  0.446430 -2.267758 -0.509551 -0.078937
1   3.856982 -0.482218  0.963279  1.681353 -0.352975  0.372185 -1.112150 -0.168681  1.407150  0.049005  0.259235  0.196941
2   1.399108 -1.668243  1.224249  0.745478 -0.673926  1.225790 -0.714761 -0.485901 -0.196774  0.085787  0.565394 -0.490198
3  -0.881104 -1.106259  1.253563  1.470701 -0.515523 -0.588521 -1.101138 -1.161008 -1.598123  0.218882  0.761292 -2.653189
4  -0.349465 -0.132195  1.311347 -1.124651 -0.073663  0.418904  0.245131 -1.429222  0.277574 -0.199492  0.472831  1.853008
5   0.770931  0.801684 -0.714568  0.474796  0.011784 -0.633806 -0.620409  2.526826  0.784408  0.828745  0.139958  0.256690
6   0.274792 -0.457073 -0.230814 -0.506224 -1.436562  0.241451 -0.106079 -0.561860 -0.595311  0.166587 -2.000363  0.459579
7  -0.397472 -1.121803 -1.619107  1.044145 -1.117540 -0.449634  0.891611 -1.025607  0.821520 -0.723528  1.416284 -0.055389
8  -0.792626  0.634611 -0.592694  0.797367 -1.266617 -0.950289  0.665272  0.516582 -0.261898 -0.953222  0.007746  0.622463
9  -0.154661  2.175667 -0.313300  0.241249  0.146302  0.676144  1.290675 -0.312790  0.524388  0.511989 -0.626036  0.821947
10 -1.048603 -0.823243 -0.647480  1.878092 -0.412022  1.552599  1.221490  0.921302  0.123635 -1.724455  0.645895 -0.812089
11 -0.502367 -0.079138  0.643028  0.240536 -0.854740 -0.350898 -0.103979 -1.330529  1.502480  1.734092  0.345694 -0.141752

In [ ]:
# max_columns

In [35]:
dframe = pd.DataFrame(np.random.randn(4,15))

In [36]:
dframe

         0         1         2         3         4         5         6         7         8         9         10        11        12        13        14
0 -0.873929 -0.654073 -0.453022 -1.730790 -0.943844 -0.472094 -1.264486  0.441780 -0.745352 -0.602587 -1.281153  2.515651 -1.075031 -2.295341 -0.158184
1 -1.351835 -1.495194  0.079756  1.301577 -0.217385 -0.446869  0.621291  0.572719  0.697149 -0.808528  0.777195  1.863243 -0.036493  0.649646  1.444357
2  0.256439 -0.729050 -0.859640 -1.294954  0.078790  1.502212  1.204579 -1.340131 -1.660609  0.247448 -0.440839 -2.070385 -0.241543  1.093422 -0.430548
3 -0.145156 -0.672897 -1.112268 -1.256190  0.955354 -0.184359  2.016950  0.431910  0.786593  2.232556  0.187788 -0.485785  0.464289  0.301766  0.530734

In [37]:
pd.set_option('max_columns', 6)

In [38]:
dframe

         0         1         2     ...           12        13        14
0 -0.873929 -0.654073 -0.453022    ...    -1.075031 -2.295341 -0.158184
1 -1.351835 -1.495194  0.079756    ...    -0.036493  0.649646  1.444357
2  0.256439 -0.729050 -0.859640    ...    -0.241543  1.093422 -0.430548
3 -0.145156 -0.672897 -1.112268    ...     0.464289  0.301766  0.530734

[4 rows x 15 columns]

In [39]:
pd.reset_option('max_columns')

In [40]:
dframe

         0         1         2         3         4         5         6         7         8         9         10        11        12        13        14
0 -0.873929 -0.654073 -0.453022 -1.730790 -0.943844 -0.472094 -1.264486  0.441780 -0.745352 -0.602587 -1.281153  2.515651 -1.075031 -2.295341 -0.158184
1 -1.351835 -1.495194  0.079756  1.301577 -0.217385 -0.446869  0.621291  0.572719  0.697149 -0.808528  0.777195  1.863243 -0.036493  0.649646  1.444357
2  0.256439 -0.729050 -0.859640 -1.294954  0.078790  1.502212  1.204579 -1.340131 -1.660609  0.247448 -0.440839 -2.070385 -0.241543  1.093422 -0.430548
3 -0.145156 -0.672897 -1.112268 -1.256190  0.955354 -0.184359  2.016950  0.431910  0.786593  2.232556  0.187788 -0.485785  0.464289  0.301766  0.530734

In [ ]:
#max_colwidth

In [41]:
dframe = pd.DataFrame(np.array([['state','city','country','some very long name here'],
                               ['soccer','bball','hockey','vball']]))

In [42]:
dframe

        0      1        2                         3
0   state   city  country  some very long name here
1  soccer  bball   hockey                     vball

In [43]:
pd.set_option('max_colwidth', 12)

In [44]:
dframe

        0      1        2            3
0   state   city  country  some ver...
1  soccer  bball   hockey        vball

In [45]:
pd.reset_option('max_colwidth')

In [46]:
dframe

        0      1        2                         3
0   state   city  country  some very long name here
1  soccer  bball   hockey                     vball

In [47]:
pd.set_option('max_colwidth', 5)

In [48]:
dframe

      0     1     2     3
0  s...  city  c...  s...
1  s...  b...  h...  v...

In [50]:
pd.reset_option('max_colwidth')

In [51]:
dframe

        0      1        2                         3
0   state   city  country  some very long name here
1  soccer  bball   hockey                     vball

In [ ]:
#colheader_justify

In [67]:
pd.set_option('colheader_justify', 'right')

In [57]:
dframe

  0       1      2        3
0   state   city  country  some very long name here
1  soccer  bball   hockey                     vball

In [60]:
dframe2 = pd.DataFrame(np.array([['state','city','country','some very long name here'],
                               ['soccer','bball','hockey','vball']]), columns = ['A','B','C','D'])

In [68]:
dframe2

        A      B        C                         D
0   state   city  country  some very long name here
1  soccer  bball   hockey                     vball

In [ ]:
# precision

In [69]:
dframe2 = pd.DataFrame(np.random.randn(7,7))

In [70]:
dframe2

          0         1         2         3         4         5         6
0  0.285763  0.845331 -1.010562  0.855794 -0.580935 -0.189157 -0.325058
1 -1.403006 -1.481937 -0.568078  0.660964 -0.369103  0.310172 -1.656225
2  2.252925 -0.534810 -1.271303  0.022841  1.035662 -0.356847  0.314561
3 -0.879445  0.734230 -0.387731 -0.663104  0.362134  0.630876  1.457765
4 -1.209173 -1.672084 -0.975520 -0.968337 -0.000919 -0.360207  0.503778
5 -0.082821  2.098152  0.854747  2.465040  0.500095  0.150385 -0.007851
6  0.273324 -0.530575  0.813331 -0.135550  0.243505  0.594981  0.002193

In [71]:
pd.set_option('precision',3)

In [72]:
dframe2

       0      1      2      3          4      5      6
0  0.286  0.845 -1.011  0.856 -5.809e-01 -0.189 -0.325
1 -1.403 -1.482 -0.568  0.661 -3.691e-01  0.310 -1.656
2  2.253 -0.535 -1.271  0.023  1.036e+00 -0.357  0.315
3 -0.879  0.734 -0.388 -0.663  3.621e-01  0.631  1.458
4 -1.209 -1.672 -0.976 -0.968 -9.187e-04 -0.360  0.504
5 -0.083  2.098  0.855  2.465  5.001e-01  0.150 -0.008
6  0.273 -0.531  0.813 -0.136  2.435e-01  0.595  0.002

In [73]:
pd.set_option('precision', 8)

In [74]:
dframe2

            0           1           2           3           4           5           6
0  0.28576278  0.84533088 -1.01056153  0.85579383 -0.58093490 -0.18915692 -0.32505764
1 -1.40300625 -1.48193676 -0.56807832  0.66096449 -0.36910319  0.31017245 -1.65622504
2  2.25292459 -0.53480982 -1.27130350  0.02284092  1.03566190 -0.35684658  0.31456061
3 -0.87944543  0.73423047 -0.38773127 -0.66310353  0.36213424  0.63087567  1.45776498
4 -1.20917286 -1.67208421 -0.97552029 -0.96833747 -0.00091875 -0.36020690  0.50377785
5 -0.08282120  2.09815186  0.85474654  2.46504016  0.50009459  0.15038468 -0.00785127
6  0.27332403 -0.53057532  0.81333056 -0.13554998  0.24350457  0.59498146  0.00219279

In [75]:
pd.reset_option('precision')

In [76]:
dframe2

          0         1         2         3         4         5         6
0  0.285763  0.845331 -1.010562  0.855794 -0.580935 -0.189157 -0.325058
1 -1.403006 -1.481937 -0.568078  0.660964 -0.369103  0.310172 -1.656225
2  2.252925 -0.534810 -1.271303  0.022841  1.035662 -0.356847  0.314561
3 -0.879445  0.734230 -0.387731 -0.663104  0.362134  0.630876  1.457765
4 -1.209173 -1.672084 -0.975520 -0.968337 -0.000919 -0.360207  0.503778
5 -0.082821  2.098152  0.854747  2.465040  0.500095  0.150385 -0.007851
6  0.273324 -0.530575  0.813331 -0.135550  0.243505  0.594981  0.002193